<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Code Block</title>
  <link rel="icon" type="image/x-icon" href="https://scontent.ftlv6-1.fna.fbcdn.net/v/t39.30808-6/289338887_5327510493963592_2872820049793769598_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=m0_gTLbCD5UQ7kNvgG5UcjY&_nc_ht=scontent.ftlv6-1.fna&oh=00_AYDtqFz7SPLdasAmeJqGZ0eKkh061LyD4aaaH9iHUkcnVA&oe=669697A7">
</head>
<body style="width: 500px;align-content: center;text-align: -webkit-center; background-image: radial-gradient(#404E68, #983731);">
  <div class="container">
    <h1 style="font-family: 'Berlin Sans FB', sans-serif; width: 300px; -weblit-text-stroke-width: thin; text-align: -webkit-center; color:white">Choose Code Block</h1>
    <ul style="list-style: none; width:400px">
      <li style="font-family: 'Berlin Sans FB', sans-serif; border: 3px solid hsl(160, 3%, 21%);
    -weblit-text-stroke-width: thin;
    text-align: -webkit-center;
    background-color: white;
    border-style: dotted;
    border-radius: 20px;
    border: groove;"><a href="/codeblock/0">Add</a></li>
      <ul style="margin: 15px;"></ul>
      <li style="font-family: 'Berlin Sans FB', sans-serif; border: 3px solid hsl(160, 3%, 21%);
    -weblit-text-stroke-width: thin;
    text-align: -webkit-center;
    background-color:white;
    border-style: dotted;
    border-radius: 20px;
    border: groove;"><a href="/codeblock/1">Subtract</a></li>
    <ul style="margin: 15px;"></ul>
    <li style="font-family: 'Berlin Sans FB', sans-serif; border: 3px solid hsl(160, 3%, 21%);
    -weblit-text-stroke-width: thin;
    text-align: -webkit-center;
    background-color: white;
    border-style: dotted;
    border-radius: 20px;
    border: groove;"><a href="/codeblock/2">Multiply</a></li>
    <ul style="margin: 15px;"></ul>
    <li style="font-family: 'Berlin Sans FB', sans-serif; border: 3px solid hsl(160, 3%, 21%);
    -weblit-text-stroke-width: thin;
    text-align: -webkit-center;
    background-color: white;
    border-style: dotted;
    border-radius: 20px;
    border: groove;"><a href="/codeblock/3">Divide</a></li>
    <ul style="margin: 15px;"></ul>
    <li style="font-family: 'Berlin Sans FB', sans-serif; border: 3px solid hsl(160, 3%, 21%);
    -weblit-text-stroke-width: thin;
    text-align: -webkit-center;
    background-color: white;
    border-style: dotted;
    border-radius: 20px;
    border: groove;"><a href="/codeblock/4">Absolute</a></li>
    <ul style="margin: 15px;"></ul>
    <li style="font-family: 'Berlin Sans FB', sans-serif; border: 3px solid hsl(160, 3%, 21%);
    -weblit-text-stroke-width: thin;
    text-align: -webkit-center;
    background-color: white;
    border-style: dotted;
    border-radius: 20px;
    border: groove;"><a href="/codeblock/5">Square</a></li>
    </ul>
  </div>
  <script src="/scripts.js"></script>
</body>
</html>
